<div class="sidenav">
  <nav>
    <ul class="mcd-menu">
      <li>
        <a href="">
          <i class="material-icons">
            home
          </i>
        </a>
      </li>
      <li>
        <a href="" class="active">
          <i class="material-icons">
            pending_actions
          </i>
        </a>
      </li>

      <li>
        <a href="">
          <i class="material-icons">
            how_to_vote
          </i>
        </a>

      </li>
      <li>
        <a href="">
          <i class="material-icons">
            account_balance
          </i>
        </a>
      </li>
      <li>
        <a href="">
          <i class="material-icons">
            settings
          </i>
        </a>
      </li>
    </ul>
  </nav>
</div>
