<nav class="navbar nav-border card-shadow navbar-expand-lg navbar-light placing">
  <img class="logo" src="../../assets/lera-logo.png">
  <a class="navbar-brand" href="#">Lera Technologies</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav w-100">
      <li class="nav-item  ml-auto">
        <a class="nav-link" href="#" routerLink="/about">About<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/features">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/technology">Technology</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/tools">Tools</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/documentation">Documentation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Support</a>
      </li>

    </ul>
  </div>
</nav>
