<app-navbar-menu></app-navbar-menu>
<div class="container position">
  <!-- <div class="row">
    <button type="button" class="btn btn-primary active pr">Purchase  
      <i class="fa fa-shopping-cart" aria-hidden="true"></i>
    </button>
  </div> -->
  <div class="row">
    <div class="col-sm-3">
      <div class="card lft-card-height card-shadow">
        <div class="card-body">
          <h5 class="card-title">Index</h5>
          <p class="card-text fw">1. Introduction</p>
          <p class="card-text fw">2. Installation Guide</p>
          <p class="card-text fw">3. API Configs</p>
        </div>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="row">
        <div class="col-sm-11">
          <button type="button" class="btn btn-primary active pr">Download  
            <i class="fa fa-download" aria-hidden="true"></i>
          </button>
        </div>
      </div>
      <div class="card right-card-height card-shadow mt">
        <div class="card-body">
          <h5 class="card-title">Documentation page card</h5>
          <p class="card-text">Introduction</p>
          <p class="card-text">Will give a basic introduction of the tool</p>
          <span>
            <i class="fa fa-arrows-alt icon-rotation" aria-hidden="true"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt">
    <div class="col-sm-6">
      <button type="button" class="btn btn-warning btn-lg pr">View Demo  
        <i class="fa fa-eye" aria-hidden="true"></i>
      </button>
    </div>
    <div class="col-sm-6">
      <button type="button" class="btn btn-primary btn-lg active pr">Purchase  
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <div class="row mt">
    <div>
      <h3 class="fw color">Know More</h3>
      <div class="row">
        <div class="col-sm-1">
          <div class="header-border"></div>
        </div>
        <div class="col-sm-3">
          <div class="header-border-1 ml"></div>
        </div>
      </div>
      <div class="row mt">
        <div class="col-sm-4">
          <div class="card card-shadow">
            <div class="card-body">
              <h5 class="card-title color">Intrusion Detection
                <div class="about-border"></div>
              </h5>
              
              <p class="card-text fs">Monitors network traffic for suspicious activity and issues
                alerts when such activity is discovered.</p>
              <a class="fs pr" href="#">Read more>></a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card card-shadow">
            <div class="card-body">
              <h5 class="card-title color">Customer Analytics
                <div class="about-border"></div>
              </h5>
              <p class="card-text fs">customer behavior is used to help make key business
                decisions via market segmentation and predictive analytics.</p>
              <a class="fs pr" href="#">Read more>></a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card card-shadow">
            <div class="card-body">
              <h5 class="card-title color">Process Optimisation
                <div class="about-border-1"></div>
              </h5>
              <p class="card-text fs">Process optimization is a key step to bringing value to your
                BPM initiative and your organization.</p>
              <a class="fs pr" href="#">Read more>></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>