.position {
  position: relative;
  margin-top: 45px;
}

.lft-card-height {
  position: relative;
  height: 300px;
}

.right-card-height {
  position: relative;
  height: 450px;
}

.mt {
  margin-top: 30px;
}

.lft-sub-card-height {
  position: relative;
  height: 70px;
}

.card-shadow {
  // box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.about-border {
  display: block;
  width: 150px;
  height: 3px;
  background: #001a33 !important;
}

.about-border-1 {
  display: block;
  width: 165px;
  height: 3px;
  background: #001a33 !important;
}

.color-blue {
  color: #001a33 !important;
}

.fw {
  font-weight: 600;
}

.header-border {
  display: block;
  width: 65px;
  height: 4px;
  background: #ffa31a;
}

.header-border-1 {
  display: block;
  width: 15px;
  height: 4px;
  background: #001a33;
}

.ml {
  margin-left: -28px;
}

.fs {
  font-size: 12px;
}

.pr {
  float: right;
}

.card-img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  transform: rotate(-2deg);
}

.f_size_14 {
  font-size: 14px;
}

.f_size_13 {
  font-size: 13px;
}

.color-grey {
  color: grey;
}
