<app-navbar-menu></app-navbar-menu>
<div class="container">
  <div class="row">
    <div class="col-4">
      <img class="cardSize rightPanel-mt" src="../../assets/images/Group 2204.svg">
    </div>
    <div class="col-7">
      <div class="rightPanel-mt">
        <h1>Card Fraud</h1>
        <h1>Transforming Fraud Detection and
          Prevention in Banks and Financial Services</h1><br>
        <!-- <h5 >Flexible solutions built for the bank you have today — and the one you’ll be tomorrow</h5><br> -->
        <a href="#" class="btn btn-primary">Request Demo</a>
      </div>
    </div>
  </div><br><br>
  <div class="row">
    <p>Credit card fraud is an inclusive term for fraud committed using a payment card, such as a credit card or debit
      card.[1] The purpose may be to obtain goods or services, or to make payment to another account which is controlled
      by a criminal. The Payment Card Industry Data Security Standard (PCI DSS) is the data security standard created to
      help businesses process card payments securely and reduce card fraud.</p>

    <p>Credit card fraud can be authorised, where the genuine customer themselves processes a payment to another account
      which is controlled by a criminal, or unauthorised, where the account holder does not provide authorisation for
      the payment to proceed and the transaction is carried out by a third party. In 2018, unauthorised financial fraud
      losses across payment cards and remote banking totalled £844.8 million in the United Kingdom. Whereas banks and
      card companies prevented £1.66 billion in unauthorised fraud in 2018. That is the equivalent to £2 in every £3 of
      attempted fraud being stopped.</p>
  </div><br>
  <div class="row">
    <h3>Transforming Fraud Detection and
      Prevention in Banks and Financial Services</h3><br>
    <p>In the digital age, the implications of financial crime against banks and other
      financial services institutions is accelerating rapidly. Fraud prevention now
      represents one of the biggest areas of concern for the financial services industry
      and is likely to become one of the largest drivers of IT expenditure in the coming
      years. Typical organizations lose five percent of revenues to fraud each year, with
      banking and financial services, government and manufacturing industries most
      commonly victimized. In total, potential projected global fraud losses related to
      occupational fraud are more than $3.5 trillion.1
      In the U.K., in the first six months
      of 2014, losses on remote banking fraud rose to £35.9 million, up 59% from 2013.
      Online banking fraud comprised £29.3 million of that total, up 71% from 2013.2
      The
      total value of fraudulent transactions conducted using cards issued within SEPA
      and acquired worldwide amounted to €1.33 billion in 2012, which represented an
      increase of 14.8% from 2011.3</p>
    <p>The figures are staggering - but nothing compared to the real costs in lost
      productivity and damage to reputations and customer confidence. Then there is the
      fraud that goes undetected, impossible to account for and assess.</p>
  </div><br>
  <div class="row">
    <h3>Challenges and opportunities in fraud detection</h3>
    <p>When it comes to fraud detection, most financial services organizations face similar
      challenges: disparate transaction systems, piecemeal fraud detection solutions,
      and high operational costs. In specific fraud areas such as money laundering,
      shortcomings in a bank’s approach to AML controls expose them to non-compliance
      with regulations and potentially to significant fines. Then there is the challenge
      of balancing customer experience with added security. Customers, naturally, seek
      faster and easier processing of transactions - in direct conflict with fraud prevention
      solutions that impose more security steps.</p>
    <p>An effective fraud management system is essential for financial institutions.
      Failure in this area brings financial, reputational, and punitive risks. But there is an
      opportunity here too because getting it right can deliver competitive advantage,
      through improved customer confidence and better customer experience.</p>

    <p>It is now possible to use techniques such as predictive analytics and machine learning to reduce health insurance
      fraud, waste, and error by:
    </p>
    <ul>
      <li> Identifying and maximizing fraud prevention and mistake prevention </li>
      <li> Refining the fraud recovery process</li>
      <li> Leveraging data analytics and on-demand metrics to improve program management</li>
      <li> Implementing scoring and predictive analytics techniques that are superior to current flawed methods</li>
      <li> Teaching your staff how to analyze data to better identify fraud and error</li>
    </ul>
  </div><br>
  <div class="row">
    <h3>Challenges and opportunities in fraud detection</h3>
    <p>When it comes to fraud detection, most financial services organizations face similar
      challenges: disparate transaction systems, piecemeal fraud detection solutions,
      and high operational costs. In specific fraud areas such as money laundering,
      shortcomings in a bank’s approach to AML controls expose them to non-compliance
      with regulations and potentially to significant fines. Then there is the challenge
      of balancing customer experience with added security. Customers, naturally, seek
      faster and easier processing of transactions - in direct conflict with fraud prevention
      solutions that impose more security steps.</p>
  </div>
  <carousel>
    <div class="carousel-cell">
        <img src="../../assets/card1.jpg">
    </div>
    <div class="carousel-cell">
      <img src="../../assets/viewdetails/1.png">
  </div>
  <div class="carousel-cell">
    <img src="../../assets/viewdetails/2.png">
</div>
<div class="carousel-cell">
  <img src="../../assets/viewdetails/3.png">
</div>
<div class="carousel-cell">
  <img src="../../assets/viewdetails/4.png">
</div>
<div class="carousel-cell">
  <img src="../../assets/viewdetails/5.png">
</div>
<div class="carousel-cell">
  <img src="../../assets/viewdetails/6.png">
</div>
</carousel>

  <div class="row mt-5 bg-color">
    <div class="col-8 bg-img"></div>
    <div class="col-4">
      <!-- Default form contact -->
      <form class="text-center border border-light p-5" [formGroup]="contactForm">

        <p class="h4 mb-4">Contact us</p>

        <!-- Name -->
        <input type="text" formControlName="contactFormName" id="defaultContactFormName" class="form-control mb-4"
          placeholder="Name">

        <!-- Email -->
        <input type="email" formControlName="contactFormEmail" id="defaultContactFormEmail" class="form-control mb-4"
          placeholder="E-mail">

        <!-- Subject -->
        <label>Subject</label>
        <!-- <select formControlName="contactFormSubjects" class="browser-default custom-select mb-4">
        <option value="" disabled>Choose option</option>
        <option value="1" selected>Feedback</option>
        <option value="2">Report a bug</option>
        <option value="3">Feature request</option>
        <option value="4">Feature request</option>
      </select> -->
        <div class="form-group">
          <textarea formControlName="contactFormTitle" class="form-control rounded-0" id="exampleFormControlTextarea2"
            rows="1" placeholder="Request title"></textarea>
        </div>


        <!-- Message -->
        <div class="form-group">
          <textarea formControlName="contactFormMessage" class="form-control rounded-0" id="exampleFormControlTextarea2"
            rows="3" placeholder="Message"></textarea>
        </div>

        <!-- Copy -->
        <!-- <mdb-checkbox [default]="true" class="mb-4">Send me a copy of this message</mdb-checkbox> -->

        <!-- Send button -->
        <button class="btn btn-primary" [disabled]="disabledSubmitButton">Send</button>

      </form>
      <!-- Default form contact -->
    </div>
  </div>
  <br><br>
</div>