<app-navbar-menu></app-navbar-menu>
<div class="container">
  <div class="row">
    <div class="col-4">
      <img class="cardSize" src="../../assets/images/Group 2204.svg">
    </div>
    <div class="col-7">
      <div class="rightPanel-mt">
        <h1>Card Fraud</h1>
        <h1>Modernized banking made seamless</h1>
        <h5 >Flexible solutions built for the bank you have today — and the one you’ll be tomorrow</h5><br>
        <a href="#" class="btn btn-primary">Request Demo</a>
      </div>
    </div>
  </div>
</div>
