/* Avinash css starts here */
.cardSize {
    width: 270px;
}

.rightPanel-mt {
    margin-top: 50px;
}

/* Avinash css ends here */

/* Kani css starts here */
.bg-img {
    background-image:url("../../assets/viewdetails/service-industry-form.png") ;
}
.bg-color {
    background-color: aliceblue;
}

/* Kani css ends here */