<div>
    <div class="container">
        <div><img src="../../assets/images/lera logo.png" width="50" height="50" style="margin-top: -18px;"><span class="highlight" style="font-size:3vw;margin-top: 2px;">Lera Technologies</span>
            </div>
    </div>
    <div >
        <nav class="uk-navbar-container" uk-navbar>
            <div style="height: 350px;">
                <div class="headernav">
                    <h1 class="title">Banking & Location</h1>
                    <div class="verticalLineTop"></div>
                        <div class="subtitle">
                            <h1>Modernized banking made seamless</h1>
                        </div>
                        <div style="margin-top:30px">
                            <h5 >Flexible solutions built for the bank you have today — and the one you’ll be tomorrow</h5>
                        </div>
                        <img class="absolute" src="../../assets/images/business-banking.png">
                </div>
            </div>
          </nav>
    </div>

<br>
<div class="container">
    <div class="uk-card uk-card-default uk-card-body uk-width-1-1@m" style="height: 10px;">
        <span>Filter By :</span><div class="uk-margin">
            <form class="uk-search uk-search-default">
                <span uk-search-icon></span>
                <input class="uk-search-input" type="search" placeholder="Search...">
            </form>
        </div>

        <nav class="uk-navbar-container" uk-navbar style="margin-top:-40px;">
    
            <div class="uk-navbar-right">
        
                <ul class="uk-navbar-nav">
                    <!-- <li class="uk-active"><a href="#">Categories</a></li> -->
                    <li>
                        <a href="#">Categories</a>
                        <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li class="uk-active"><a href="#">Active</a></li>
                                <li><a href="#">Item</a></li>
                                <li><a href="#">Item</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#">Categories</a>
                        <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li class="uk-active"><a href="#">Active</a></li>
                                <li><a href="#">Item</a></li>
                                <li><a href="#">Item</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#">Categories</a>
                        <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li class="uk-active"><a href="#">Active</a></li>
                                <li><a href="#">Item</a></li>
                                <li><a href="#">Item</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#">Categories</a>
                        <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li class="uk-active"><a href="#">Active</a></li>
                                <li><a href="#">Item</a></li>
                                <li><a href="#">Item</a></li>
                            </ul>
                        </div>
                    </li>
                    
                </ul>
        
            </div>
        
        </nav>
    </div>
</div>
<br>
<br>
<br>
<div class="container">
    <div class="ui three column grid">
        <div class="column">
            <div class="uk-card uk-card-default uk-width-1-1@m">
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <!-- <div class="uk-width-auto">
                            <img class="uk-border-circle" width="40" height="40" src="images/avatar.jpg">
                        </div> -->
                        <div class="uk-width-expand">
                            
                            <h3 class="uk-card-title uk-margin-remove-bottom">
                                <img style="margin-left: 30px" width="200" height="200" src="../../assets/images//card icon.png">
                            </h3>
                            <!-- <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">April 01, 2016</time></p> -->
                        </div>
                    </div>
                </div>
                <div class="uk-card-body" style="padding-top: 20px;">
                    <h3 class="uk-card-title" style="margin-left: 60px;" >Card Fraud</h3>
                    <p>Most firms across the Banking and Insurance domains
                        invest on having some form of Fraud detection
                        techniques used today.</p>
                       <p> Our fraud Detection Model follows the Random Forest
                        algorithm which takes hundreds of decision trees and
                        aggregates and builds the model to avoid ...</p>
                    <div>
                        <a href="#" class="uk-badge" style="z-index: 0;"><span>60</span><i class="fa fa-thumbs-up" style="margin-left: 8px;" aria-hidden="true"></i></a>
                        <a href="#" class="uk-badge" style="z-index: 0; margin-left: 150px;background-color: #ffeb3b;">View more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="uk-card uk-card-default uk-width-1-1@m">
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <!-- <div class="uk-width-auto">
                            <img class="uk-border-circle" width="40" height="40" src="images/avatar.jpg">
                        </div> -->
                        <div class="uk-width-expand">
                            
                            <h3 class="uk-card-title uk-margin-remove-bottom">
                                <img style="margin-left: 30px" width="200" height="200" src="../../assets/images//card icon.png">
                            </h3>
                            <!-- <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">April 01, 2016</time></p> -->
                        </div>
                    </div>
                </div>
                <div class="uk-card-body" style="padding-top: 20px;">
                    <h3 class="uk-card-title" style="margin-left: 60px;">Churn Analytics</h3>
                    <p> As we know, it is much more expensive to sign in a new
                        client than keeping an existing one.It is advantageous
                        for banks to know what leads a client towards the
                        decision to leave the company. </p>
                       <p> How to retain customers using customer churn
                        analytics? ... Though systematic recovery is still a rarity
                        in today's banking world, the probability ...</p>
                    <div>
                        <a href="#" class="uk-badge" style="z-index: 0;"><span>60</span><i class="fa fa-thumbs-up" style="margin-left: 8px;" aria-hidden="true"></i></a>
                    <a href="#" class="uk-badge" style="z-index: 0; margin-left: 150px;background-color: #33691e;">View more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="uk-card uk-card-default uk-width-1-1@m">
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <!-- <div class="uk-width-auto">
                            <img class="uk-border-circle" width="40" height="40" src="images/avatar.jpg">
                        </div> -->
                        <div class="uk-width-expand">
                            
                            <h3 class="uk-card-title uk-margin-remove-bottom">
                                <img style="margin-left: 30px" width="200" height="200" src="../../assets/images//card icon.png">
                            </h3>
                            <!-- <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">April 01, 2016</time></p> -->
                        </div>
                    </div>
                </div>
                <div class="uk-card-body" style="padding-top: 20px;">
                    <h3 class="uk-card-title" style="margin-left: 60px;">Client Onboarding</h3>
                    <p>Client onboarding is a entire process which users go
                        through when they start their journey as a customer/
                        client of a bank/financial institution. The onboarding
                        experience can define the ongoing relationship the
                        customer …. </p>
                       <p> Put your customers, channels and employees on the
                        same page with a single solution that ensures you
                        deliver a streamlined and consistent experience</p>
                    <div>
                        <a href="#" class="uk-badge" style="z-index: 0;"><span>60</span><i class="fa fa-thumbs-up" style="margin-left: 8px;" aria-hidden="true"></i></a>
                    <a href="#" class="uk-badge" style="z-index: 0; margin-left: 150px; background-color: #4db6ac;">View more</a>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="ui three column grid">
        <div class="column">
            <div class="uk-card uk-card-default uk-width-1-1@m">
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <!-- <div class="uk-width-auto">
                            <img class="uk-border-circle" width="40" height="40" src="images/avatar.jpg">
                        </div> -->
                        <div class="uk-width-expand">
                            
                            <h3 class="uk-card-title uk-margin-remove-bottom">
                                <img style="margin-left: 30px" width="200" height="200" src="../../assets/images//card icon.png">
                            </h3>
                            <!-- <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">April 01, 2016</time></p> -->
                        </div>
                    </div>
                </div>
                <div class="uk-card-body" style="padding-top: 20px;">
                    <h3 class="uk-card-title" style="margin-left: 60px;">Fraud Prevenction</h3>
                    <p>Fraud prevention is the implementation of a strategy to
                        detect fraudulent transactions or banking actions and
                        prevent these actions from causing financial and
                        reputational damage.</p>
                       <p> Preventing online banking fraud using Behavioral
                        Biometrics. LFraud verifies the user's identity in real
                        time, throughout the entire online session. Request a ...</p>
                    <div>
                        <a href="#" class="uk-badge" style="z-index: 0;"><span>60</span><i class="fa fa-thumbs-up" style="margin-left: 8px;" aria-hidden="true"></i></a>
                    <a href="#" class="uk-badge" style="z-index: 0; margin-left: 150px; background-color: #283593;">View more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="uk-card uk-card-default uk-width-1-1@m">
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <!-- <div class="uk-width-auto">
                            <img class="uk-border-circle" width="40" height="40" src="images/avatar.jpg">
                        </div> -->
                        <div class="uk-width-expand">
                            
                            <h3 class="uk-card-title uk-margin-remove-bottom">
                                <img style="margin-left: 30px" width="200" height="200" src="../../assets/images//card icon.png">
                            </h3>
                            <!-- <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">April 01, 2016</time></p> -->
                        </div>
                    </div>
                </div>
                <div class="uk-card-body" style="padding-top: 20px;">
                    <h3 class="uk-card-title" style="margin-left: 60px;">RFM Analysis</h3>
                    <p> RFM (recency, frequency, monetary) analysis is a
                        marketing technique used to determine quantitatively
                        which customers are the best ones by examining how
                        recently a customer has purchased (recency), how often
                        they … </p>
                       <p> LeraRFM is a Relationship Marketing Hub that combines
                        the most advanced customer segmentation, modeling
                        and predictive analytics technologies, along</p>
                    <div>
                        <a href="#" class="uk-badge" style="z-index: 0;"><span>60</span><i class="fa fa-thumbs-up" style="margin-left: 8px;" aria-hidden="true"></i></a>
                    <a href="#" class="uk-badge" style="z-index: 0; margin-left: 150px;background-color: #880e4f;">View more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="uk-card uk-card-default uk-width-1-1@m">
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <!-- <div class="uk-width-auto">
                            <img class="uk-border-circle" width="40" height="40" src="images/avatar.jpg">
                        </div> -->
                        <div class="uk-width-expand">
                            
                            <h3 class="uk-card-title uk-margin-remove-bottom">
                                <img style="margin-left: 30px" width="200" height="200" src="../../assets/images//card icon.png">
                            </h3>
                            <!-- <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">April 01, 2016</time></p> -->
                        </div>
                    </div>
                </div>
                <div class="uk-card-body" style="padding-top: 20px;">
                    <h3 class="uk-card-title" style="margin-left: 60px;">Click Fraud</h3>
                    <p>Click fraud is a type of fraud that occurs on the Internet
                        in pay-per-click (PPC) online advertising. In this type of
                        advertising, the owners of websites that post the ads
                        are paid an amount of money determined ...</p>
                       <p> We protect you from invalid activity and advertising
                        fraud. Our automated detection systems use machine
                        learning and complex ...</p>
                    <div>
                        <a href="#" class="uk-badge" style="z-index: 0;"><span>60</span><i class="fa fa-thumbs-up" style="margin-left: 8px;" aria-hidden="true"></i></a>
                    <a href="#" class="uk-badge" style="z-index: 0; margin-left: 150px;background-color: #ec407a;">View more</a>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="ui three column grid">
        <div class="column">
            <div class="uk-card uk-card-default uk-width-1-1@m">
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <!-- <div class="uk-width-auto">
                            <img class="uk-border-circle" width="40" height="40" src="images/avatar.jpg">
                        </div> -->
                        <div class="uk-width-expand">
                            
                            <h3 class="uk-card-title uk-margin-remove-bottom">
                                <img style="margin-left: 30px" width="200" height="200" src="../../assets/images//card icon.png">
                            </h3>
                            <!-- <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">April 01, 2016</time></p> -->
                        </div>
                    </div>
                </div>
                <div class="uk-card-body" style="padding-top: 20px;">
                    <h3 class="uk-card-title" style="margin-left: 60px;">Digital Assistants</h3>
                    <p>A Digital Assistant is a software application used to
                        conduct an on-line chat conversation via text or text-tospeech, in lieu of providing direct contact with a live
                        human agent.</p>
                       <p> Automate your customer service with ChatBot and
                        never miss a chance to sell or help your customers.
                        Build your own chatbots from a scratch, no technical
                        skills ...</p>
                    <div>
                        <a href="#" class="uk-badge" style="z-index: 0;"><span>60</span><i class="fa fa-thumbs-up" style="margin-left: 8px;" aria-hidden="true"></i></a>
                    <a href="#" class="uk-badge" style="z-index: 0; margin-left: 150px;background-color: #2196f3;">View more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="uk-card uk-card-default uk-width-1-1@m">
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <!-- <div class="uk-width-auto">
                            <img class="uk-border-circle" width="40" height="40" src="images/avatar.jpg">
                        </div> -->
                        <div class="uk-width-expand">
                            
                            <h3 class="uk-card-title uk-margin-remove-bottom">
                                <img style="margin-left: 30px" width="200" height="200" src="../../assets/images//card icon.png">
                            </h3>
                            <!-- <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">April 01, 2016</time></p> -->
                        </div>
                    </div>
                </div>
                <div class="uk-card-body" style="padding-top: 20px;">
                    <h3 class="uk-card-title" style="margin-left: 60px;">Loan Approval Process</h3>
                    <p> Formal authorization to get a loan empowerment,
                        authorisation, authorization - the act of conferring
                        legality or sanction or formal warrant. </p>
                       <p> By adopting Lera's Automated Credit Processing
                        Solution, banks can: Reduce turnaround time by
                        allowing teams to work on different aspects of a loan
                        proposal concurrently. Boost efficiency...</p>
                    <div>
                        <a href="#" class="uk-badge" style="z-index: 0;"><span>60</span><i class="fa fa-thumbs-up" style="margin-left: 8px;" aria-hidden="true"></i></a>
                    <a href="#" class="uk-badge" style="z-index: 0; margin-left: 150px;background-color: #ec407a;">View more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="uk-card uk-card-default uk-width-1-1@m">
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <!-- <div class="uk-width-auto">
                            <img class="uk-border-circle" width="40" height="40" src="images/avatar.jpg">
                        </div> -->
                        <div class="uk-width-expand">
                            
                            <h3 class="uk-card-title uk-margin-remove-bottom">
                                <img style="margin-left: 30px" width="200" height="200" src="../../assets/images//card icon.png">
                            </h3>
                            <!-- <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">April 01, 2016</time></p> -->
                        </div>
                    </div>
                </div>
                <div class="uk-card-body" style="padding-top: 20px;">
                    <h3 class="uk-card-title" style="margin-left: 60px;">Predictive Customer Service</h3>
                    <p>Predictive customer support is that the customer gets
                        the support not only before they know they need it</p>
                       <p>Predictive analytics gives internal support teams the
                        insights needed to resolve customer problems quickly
                        and accurately. "It's a key tool in our ...</p>
                    <div>
                        <a href="#" class="uk-badge" style="z-index: 0;"><span>60</span><i class="fa fa-thumbs-up" style="margin-left: 8px;" aria-hidden="true"></i></a>
                    <a href="#" class="uk-badge" style="z-index: 0; margin-left: 150px;background-color: #ef6c00;">View more</a>
                    </div>
                </div>
            </div>
        </div>
      </div>
</div>

<br>
<br>
<div class="container">
    <h1>Know More</h1>
</div>
<br>
<br>
<div class="container">
    <div class="uk-child-width-1-3@m uk-grid-small uk-grid-match" uk-grid>
        <div>
            <div class="uk-card uk-card-default uk-card-body">
                <h3 class="uk-card-title">Intrusion Detection</h3>
                <p>Monitors network traffic for suspicious activity and issues
                    alerts when such activity is discovered.</p>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-body">
                <h3 class="uk-card-title">Customer Analytics </h3>
                <p>customer behavior is used to help make key business
                    decisions via market segmentation and predictive analytics. </p>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-body">
                <h3 class="uk-card-title">Process Optimisation</h3>
                <p>Process optimization is a key step to bringing value to your
                    BPM initiative and your organization.</p>
            </div>
        </div>
    </div>

</div>






</div>



  
  
  

